
body {

    background: linear-gradient(45deg, white ,white);
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

footer {


    color: black;
    font-family: "Impact", Helvetica, sans-serif;
    font-size: xx-large;
}